<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Places of Interest
        </caption>
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Weather</th>
        <th>Image</th>
        <th>Category</th>
        <th>Creator</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each pois}}
            <tr>
                <td> {{name}} </td>
                <td> {{description}} </td>
                <td> <img src="{{imagefile}}"></td>
                <td> {{categories}}</td>
                <td> {{person.firstName}} {{person.lastName}}</td>
                <td>
                    <form action="/delete/{{_id}}" method="POST" >
                        <button class="uk-button uk-button-danger">Delete</button>
                    </form>
                </td>
                <td>
                    <form action="/edit/{{_id}}" method="GET" >
                        <button class="uk-button uk-button-primary">Edit</button>
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>